* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: 75%;
	height: 75%;
	background-color: brown;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.brick {
	background-color: blue;
	border: 1px solid black;
}
